{
    "env": {
      "browser": true,
      "es6": true,
      "node": true,
      "mocha": true
    },
    "parserOptions": {
      "ecmaVersion": 2022
    },
    "extends": "eslint:recommended",
    "rules": {
      "indent": ["error", 4],
      "semi": ["error", "always"]
    }
  }